body {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  height: auto;
}
.header {
  height: 110px;
}
h1 {
  font-family: 'Satisfy', cursive;
  color: #272028;
  font-size: 50px;
  text-shadow: 2px 2px 4px white;
  text-align: center;
  margin-top: -45px;
}
/*Nav*/
.Nav {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-right: 25px;
  margin-top: -20px;
}
.Nav a {
  margin-right: 20px;
  color: #9DCDCD;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-shadow: 2px 2px 3px white;
  text-decoration: none;
}
.Nav a:hover {
  color: thistle;
}
.active {
  text-transform: uppercase;
  font-size: 16px;
}
/*SocialMedia*/
.social ul {
  display: flex;
  list-style: none;
  margin-top: 40px;
}
.social li {
  text-decoration: none;
  margin-right: 10px;
}
.icon {
  /*color: #f2f2f2;*/
  color: #272028;
}
.icon:hover {
  color: #9DCDCD;
}
/*Home*/
.home {
  width: 100%;
  height: auto;
}
.latest-work {
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/groovepaper.png");
}
.home h1 {
  margin-top: 50px;
  font-size: 36px;
}
/*Background*/
.background-photo {
  width: 100%;
  height: 600px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.b-photo {
  width: 900px;
  height: 600px;
  border-radius: 5px;
}
/*About*/
.about {
  width: 100%;
  height: auto;
}
.sketch {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}
.about-title {
  font-family: 'Satisfy', cursive;
  color: thistle;
  font-weight: bold;
  font-size: 44px;
  text-shadow: 2px 2px 4px white;
  text-align: center;
}
.about-me {
  height: auto;
  width: 370px;
  font-family: "Raleway", sans-serif;
  color: gray;
  line-height: 1.3em;
  font-size: 19px;
  margin-top: -25px;
}
.about-me span {
  font-size: 22px;
}
.sketch-img {
  width: 700px;
  height: 500px;
  border-radius: 4px;
}
h4 {
  font-family: 'Satisfy', cursive;
  color: #272028;
  font-size: 28px;
  text-shadow: 2px 2px 4px white;
  text-align: center;
}
.skills {
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.graph {
  width: 550px;
  height: 410px;
}
.graph2 {
  width: 600px;
  height: 320px;
}
.life {
  text-align: center;
}
.life-pie {
  margin-top: 170px;
}
/*InstaGram*/
.instagram {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.insta {
  width: 215px;
  height: 215px;
}
.single-insta {
  width: 215px;
  height: 215px;
}
.insta-button {
  text-align: center;
}
.insta-button-container {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
/*Portfolio*/
.card-link {
  text-decoration: none;
}
.card {
  width: 360px;
  height: 310px;
  margin-top: 30px;
  padding: 10px;
  background-image: url("https://www.transparenttextures.com/patterns/kinda-jean.png");
}

.post-image {
  height: 210px;
}
.posts {
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/*Contact*/
.contact {
  width: 100%;
  height: auto;
}
/*Footer*/
.footer {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.footer p {
  margin-left: 25px;
  color: #272028;
}
.footer .Nav {
  margin-top: 15px;
}
.footer .Nav a {
  font-size: 14px;
}
.footer .social ul {
  margin-top: 20px;
}
